In [2]:
import pandas as pd
import csv

In [5]:
ds_data = pd.read_csv('Topic_Survey_Assignment.csv', index_col=0)
ds_data.head(5)

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136